<header class="main-header">
  <div class="header-container">
    <img
      src="/img/logoescura.png"
      alt="Logo Claw Express"
      class="header-logo"
    />
  </div>
</header>

<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      Empréstimo consignado <br />
      com crédito pré aprovado <br />
      para trabalhadores
    </h1>

    <p class="hero-subtitle">
      Empréstimo consignado, com taxas reduzidas e parcelas
      descontadas direto na folha de pagamento.
    </p>

    <button class="hero-button">
      Fale Conosco <i class="fa-brands fa-whatsapp"></i>
    </button>
  </div>

  <div class="hero-image">
    <img
      src="/img/vocesabiafundo.png"
      alt="Trabalhadores felizes com celular"
    />
  </div>
</section>

<section class="stats-section">
  <div
    class="stat-item"
    style="background-image: url('/img/stats1.png');"
  >
    <div class="overlay"></div>
    <div class="stat-content">
      <h2 class="stat-number">{{ count1 | number }} mil</h2>
      <p class="stat-label">Clientes satisfeitos</p>
    </div>
  </div>

  <div
    class="stat-item"
    style="background-image: url('/img/stats2.png');"
  >
    <div class="overlay"></div>
    <div class="stat-content">
      <h2 class="stat-number">{{ count2 | number }}</h2>
      <p class="stat-label">Avaliações 5 estrelas no Google</p>
    </div>
  </div>

  <div
    class="stat-item"
    style="background-image: url('/img/stats3.png');"
  >
    <div class="overlay"></div>
    <div class="stat-content">
      <h2 class="stat-number">{{ count3 | number }} milhões</h2>
      <p class="stat-label">Em FGTS liberados</p>
    </div>
  </div>

  <div
    class="stat-item"
    style="background-image: url('/img/stats4.png');"
  >
    <div class="overlay"></div>
    <div class="stat-content">
      <h2 class="stat-number">{{ count4 | number }}%</h2>
      <p class="stat-label">Online</p>
    </div>
  </div>
</section>
